html {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Roboto Slab', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 27, 27);
}

.button-container{
  border: 2px solid black;
  border-radius: 7px;
  padding: 8px;
  box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255,07);
}

button{
  cursor: pointer;
  width:120px;
  height: 70px;
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 0 2px 5px  black;
  letter-spacing: 1px;
  color: white;
  outline: none;
  background: linear-gradient(to top, #656565 , #3d3d3d);
  outline:none;
  border: 2px solid black;
  border-radius:7px ;
  box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255,04) , 0 12px 12px 0px rgba(0, 0, 0,0.3)
}

button:hover{
    background: linear-gradient(to bottom , #656565 , #3a3939);
}

button:active{
  transform: translateY(3px);
  box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255,04) , 0 6px 6px 0px rgba(0, 0, 0,0.3)

}